@CHARSET "UTF-8";

span.ext-collection-item {
  white-space:nowrap;
  margin: 2px 5px;
  padding: 2px 5px;
  background: #eef;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  display: inline-block;
}